*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(247, 247, 247);
}

.myContainer{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(85, 85, 85);
}

.grid{
  width: 70%;
}

.myCard{
  border-radius: 0px;
  width: calc(100%/3 - 20px);
  min-width: 150px;
}

.myCard img{
  border-radius: 0px;
}

.card-role{
  font-size: 17px;
}